services:
  influxdb:
    image: influxdb:2.7.12@sha256:674911452ada77ca762662d50dd0594c8823312f59b376500623a4f82c44f9be
    hostname: influxdb
    container_name: influxdb__influxdb
    restart: unless-stopped

    volumes:
      - type: volume
        source: influxdb_conf
        target: /etc/influxdb2

      - type: volume
        source: influxdb_data
        target: /var/lib/influxdb2

    expose:
      - 8086

    networks:
      - default

    deploy:
      resources:
        limits:
          memory: 2048m

  cloudflared:
    image: cloudflare/cloudflared:2025.10.0@sha256:396cd2e6f021275ad09969a1b4f1a7e62ca5349fde62781ce082bb2c18105c70
    hostname: cloudflared
    container_name: influxdb__cloudflared
    restart: unless-stopped

    command: tunnel run --token ${TUNNEL_TOKEN}

    networks:
      default:

    deploy:
      resources:
        limits:
          memory: 128m

volumes:
  influxdb_conf:
    name: influxdb__influxdb_conf

  influxdb_data:
    name: influxdb__influxdb_data

networks:
  default:
    name: influxdb__default
