services:
  influxdb:
    image: influxdb:2.8.0@sha256:8e911da5f7b482230e61fe4bad9af0697d97a75e087f19f5f0ddfee62c2bd686
    hostname: influxdb
    container_name: influxdb__influxdb
    restart: unless-stopped

    volumes:
      - type: volume
        source: influxdb_conf
        target: /etc/influxdb2

      - type: volume
        source: influxdb_data
        target: /var/lib/influxdb2

    expose:
      - 8086

    networks:
      - default

    deploy:
      resources:
        limits:
          memory: 2048m

  cloudflared:
    image: cloudflare/cloudflared:2026.1.2@sha256:e9bcb2ef08d25632ff74344e73a025f4f4bf12718335b196fa0e670cacace8c5
    hostname: cloudflared
    container_name: influxdb__cloudflared
    restart: unless-stopped

    command: tunnel run --token ${TUNNEL_TOKEN}

    networks:
      default:

    deploy:
      resources:
        limits:
          memory: 128m

volumes:
  influxdb_conf:
    name: influxdb__influxdb_conf

  influxdb_data:
    name: influxdb__influxdb_data

networks:
  default:
    name: influxdb__default
